.header-section {
  background-color: #1e3d92; 
  padding: 1px 0;
}
.header-section .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px; 
}

.book-now-btn {
  margin-right: 20px; 
}
.logo {
  margin-left: 20px;
  max-height: 50px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#31d3ff;
}

.nav-link:hover {
  color: #c2d9ff; 
}

.primaryBtn {
  background-color: #31d3ff;
  color: white; 
  border: 1px solid #00b4d8;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px; 
}

.primaryBtn:hover {
  background-color: #0077b6; 
  border-color: #0077b6;
  color: white;
}
