.overfooter-section{
  padding: 20px;
  background-color: #f5f5f5;
}
.footer-section {
  background-color: #252c67; 
  padding: 40px 0;
  color: white;
}

.footer_col .list-group-item {
  background: transparent;
  border: none;
  padding: 5px 0;
}

.footer_col .list-group-item a {
  color: #ffffff;
  text-decoration: none;
}

.footer_col .list-group-item a:hover { 
  color: #ffffff;
}

/* Footer bottom content */
.footer_bottom {
  border-top: 1px solid #fff;
  padding-top: 20px;
  margin-top: 20px;
}

.footer_language_select_wrapper {
  margin-bottom: 0; 
}

.footer_language_select {
  background-color: #ffffff; 
  border: 1px solid #000;
  color: black;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
}

.copyright p {
  margin: 0;
  font-size: 16px; 
  color: #b8b8d4;
}

.footer_social_icons a {
  color: white;
  font-size: 35px; 
  margin-left: 15px;
  text-decoration: none;
}

.footer_social_icons a:hover {
  color: #ffda79;
}
